// COLOR
$color-pink: #d3135a;
$color-pink-light: #ffc2dd;

$color-grey: #666666;
$color-dark-grey: #4d4d4d;
$color-medium-grey: #cccccc;
$color-light-grey: #e6e6e6;

$color-white: #fff;
$color-black: #000;

$color-text-blue: #0071bc;

// GRID
$grid-width: 105rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 2.5rem;
$gutter-vertical-small: 2rem;

// FONT
$default-text-size: 1.4rem;
$h2-text-size: 3.75rem;
$h3-text-size: 2.4rem;